<!DOCTYPE html>
<html lang="en">

<head>
  	<% include partials/_head_main_script.ejs %>
  	<% include partials/_head_home_script.ejs %>
	
</head>

<body ng-app="WeddingPenguin">
	<div class="container" ng-controller="MainCtrl">
		
		<% include partials/_header.ejs %>
		<% include guest_partials/_guest_details.ejs %><!--load modal for guest-->
		<% include guest_partials/_table_settings.ejs %><!--load modal for table-->

	</div><!--end container-->

	<div class="page-header clear">
		<h1>Guest View</h1>
	</div>
	
	
	<div class="left-bar col-sm-4">
		<% include guest_partials/_add_guest_script.ejs %>
	</div>
		
		
	<div class="right-bar col-sm-8">
		<% include guest_partials/_display_guests_script.ejs %>
	</div>

</body>
</html>