<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Wedding Penguin</title>
	
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="/public/stylesheets/style.css" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.js"></script> <!-- Use angular filter for grouping ng-repeat -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js"></script><!--Use resource for crud operation-->
	<script src="/public/javascripts/angularApp.js"></script>
	<script src="/public/javascripts/GuestService.js"></script>
	<script src="/public/javascripts/GuestCtrl.js"></script>
	<script src="/public/javascripts/userService.js"></script>
	<script src="/public/javascripts/userCtrl.js"></script>

<!-- Views -->


</head>
<body ng-app="WeddingPenguin">
	<div class="container" ng-controller="MainCtrl">
	
		<% include partials/header.ejs %>
		<ui-view></ui-view>
		


	</div><!--end container-->



  <div class="page-header">
    <h1>Wedding Penguin</h1>
  </div>

  <div class="left-bar col-sm-4" ng-controller="GuestsCtrl">
			<form ng-submit="addGuest()">
				<h3>Add a new guest</h3>
				<div class="form-group">
				
					<input type="text" class="form-control" placeholder="Guest's Name" ng-model="guestName">
					
					<input type="text" class="form-control" placeholder="Relation" ng-model="guestRelation">

					<select name='table' ng-model="guestTable">
						<option ng-repeat="i in getNumber(totalTables) track by $index"> {{$index+1}}</option>
					</select>

					<input type="text" class="form-control" placeholder="User" ng-model="guestUser">

				
					<button type="submit" class="btn btn-primary">Add</button>
				
				</div>
			</form>
			<button type="submit" ng-click="open()"class="btn btn-primary">Number of Tables</button>
		</div>
		
		
		<div class="right-bar col-sm-8">
			

				<div ng-repeat="(key, value) in (guests| groupBy: 'table')">
						<h5> Table {{key}} </h5>
						<table class="table table-bordered table-responsive">
							<tr>
								<th style="width: 80px;"> Name </th>
								<th style="width: 20px;"> Table </th>
								<th style="width: 80px;"> Relation </th>
								<th style="width: 40px"></th>
								<th style="width: 40px"></th>
							</tr>
							<tr ng-repeat="guest in value">
								<td style="width: 80px;"><a href="#/guests/{{guest._id}}">{{guest.name}}</a></td>
								<td style="width: 20px;">{{guest.table}}</td>
								<td style="width: 80px;">
									<span ng-click="changeGuest(guest)">+</span>
									{{guest.relation}}
								</td>
								<td><a ng-click="editGuest(guest.id)" class="btn btn-small btn-primary">edit</a></td>
								<td><a ng-click="deleteGuest(guest.id)" class="btn btn-small btn-primary">delete</a></td>
							</tr>
							<br>
						</table>
					
				</div>

		</div>


</body>
</html>