<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/_head_main_script.ejs %>
  <% include partials/_head_home_script.ejs %>
</head>

<body ng-app="WeddingPenguin">

	<div class="container" ng-controller="MainCtrl">
		<% include partials/_header.ejs %>
	</div><!--end container-->

	<div><img id="home-banner"src="/public/images/banner/banner1.png"></div>

	<!--=============  Main Body ==========-->
	<div id="vendor-section" class="container margin-top-30">
		
		<div class="col-sm-3">
			<div class="vendor-pic-container border-grey-thin">
				<div><span>Venue</span></div>
				<img class="clear margin-top-10" src="/public/images/home/Venue(square).jpg">
			</div>
		</div>

		<div class="col-sm-3">
			<div class="vendor-pic-container border-grey-thin">
				<div><span>Bridal</span></div>
				<img class="clear margin-top-10" src="/public/images/home/Bridal(square).jpg">
			</div>
		</div>

		<div class="col-sm-3">
			<div class="vendor-pic-container border-grey-thin">
				<div><span>Bridal</span></div>
				<img class="clear margin-top-10" src="/public/images/home/Photographer(square).jpg">
			</div>
		</div>

		<div class="col-sm-3">
			<div class="vendor-pic-container border-grey-thin">
				<div><span>Bridal</span></div>
				<img class="clear margin-top-10" src="/public/images/home/Videographer(square).jpg">
			</div>
		</div>
	</div>

<ui-view></ui-view>


<!--**********Script Starts Here **********-->
<script type="text/ng-template" id="/home.html">
	<div class="container">
	    <h1>Welcome to Home page</h1>
	</div>
</script>


<script type="text/ng-template" id="/register.html">

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="register()"
    style="margin-top:30px;">
    <h3>Register</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</script>

<script type="text/ng-template" id="/login.html">
  <div class="page-header">
    <h1>Flapper News</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="login()"
    style="margin-top:30px;">
    <h3>Log In</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
  </script>

</body>
</html>