<% include partials/head.ejs %>

<body ng-app="WeddingPenguin">
  <div class="container" ng-controller="MainCtrl">
  
    <% include partials/header.ejs %>
    <ui-view></ui-view>

  </div><!--end container-->
  



  
    
  <div class="right-bar col-sm-8" ng-controller="GuestsCtrl">
    saving
      

  </div>



</body>
</html>